// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$color-primary: #BB6F6B;
$color-secondary:#8B4B62;
$color-accent: #EA9674;
$color-shade: #FCBC80;

$color-text: #343434;
$color-bg: #F7E29C;

// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;


// Breakpoints (media queries)
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;

// Font Sizes
$font-xsmall: 12px;
$font-small: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-xlarge: 38px;

